body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgreen;
    font-family: cursive;
}

.container {
    box-shadow: 1.5px 2px 3px 4px rgba(0, 0, 0, 0.534);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    color: darkgreen;
    margin: 15px 0px;
    font-size: 20px;
}

input {
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgb(185, 224, 185);
    border: 2px solid forestgreen;
}

button {
    background-color: rgb(56, 180, 56);
    border: none;
    padding: 10px 0px;
    margin: 20px 0px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: darkgreen;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.233);
    }
}

.error {
    color: red;
    font-size: 18px;
}